<h1>Car Dealership</h1>
<form action="/cars" method="post">
  <label for="new-model">MakeModel:</label>
  <input id="new-model" name="new-model" type="text">

  <label for="new-mile">Mileage:</label>
  <input id="new-mile" name="new-mile" type="text">

  <label for="new-price">Price:</label>
  <input id="new-price" name="new-price" type="text">

  <label for="new-color">Color:</label>
  <input id="new-color" name="new-color" type="text">

  <button type="submit">Submit</button>
</form>
